.kubeconfig
deployment.yml
.test_env.sh
cmd/quilla/release
cmd/quilla/quilla
hack/deployment-norbac.yaml
hack/deployment-rbac.yaml
hack/deployment-norbac-helm.yaml
.vscode
.idea/
tests.out
.env
*.db
*.exe
**/*/data